<!-- OUTDATED. DID NOT WORK PRIOR TO ROS2 MIGRATION. resource not found zed wrapper -->
<launch>
    <include file="$(find zed_wrapper)/launch/zed2.launch"/>
    <!-- Mamually force the zed turn of loop closure -->
    <param name="/zed2/zed_node/pos_tracking/area_memory" value="false" />
    <include file="$(find tagslam_ros)/launch/tagslam.launch">
        <arg name="camera_name" value="/zed2/zed_node/left" />
        <arg name="image_topic" value="image_rect_color" />
        <arg name="detector_type" value="GPU"/>
    </include>
</launch>